.NavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 5px 5px black;
    padding-bottom: 12px;
}


.select {
    width: 20%;
    margin: auto;
    font-size: 0.8em;
}